
/* HERO SECTION STYLES */
.hero-container{
    display: flex;
    flex-direction: column;
    border-bottom: var(--brownColor) solid 2px;


}
.hero-container h1{
    margin: 80px auto;
    color: var(--brownColor);
    -webkit-text-stroke: 1px var(--brownColor);
    font-size: 48px;
    text-align: center;
    transition: text-shadow .4s ease-in-out, font-size .4s ease-in-out;
    
}
.hero-container h1 span:hover{
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    font-size: 48.5px;
    color: var(--orangeColor) !important;
}
.hero-container h1 span:nth-child(odd){
color: var(--blueColor);
}
.hero-container h1 span:nth-child(even){
    color: var(--yellowColor);
}
.hero-container figure{
    margin: 20px auto;
}
.hero-container figure img{
    max-width: 300px;
}
/* BOOST YOUR BRAIN POWER STYLES*/
.brain-power{
   display: flex;
   flex-direction: column;
   max-width: 500px;
   margin: 40px auto;
}
.brain-power{
    color: var(--brownColor);
    -webkit-text-stroke: 1px var(--brownColor);
    font-size: 48px;
    border-bottom: var(--brownColor) 2px solid;
}
.brain-power span{
    color: var(--yellowColor);

}
.brain-power h1{
    text-align: center;
}
.brain-power span:hover{
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    font-size: 48.5px;
    color: var(--orangeColor) !important;
}
.brain-power div{
    text-align: center;
}
.brain-power button{
    width: 125px;
    height: 50px;
    border-radius: 15px;
    padding: 15px;
    font-size: large;
    cursor: pointer;
}
 .main-flip-card-container .deck-flip-card-container{
 width: 350px;
 min-height: 200px;
 cursor: pointer;
}
.main-flip-card-container .deck-flip-card-container .flip-card-front{
    font-size: 32px;
}
.main-flip-card-container .deck-flip-card-container .flip-card-back{
    font-size: medium;
}
.main-flip-card-container{
    margin:  0px auto;
    margin-bottom: 60px;
}

@media screen and (min-width: 750px){
    /* HERO SECTION STYLES */
    .hero-container{
        flex-direction: row;
        max-width: 1100px;
        margin: 0 auto;
        justify-content: space-between;
        align-items: center;
    }
    .hero-container h1{
        text-align: left;
        line-height: 1.3;
    }
    .hero-container header{
        max-width: 600px;
    }
    .hero-container figure img{
        max-width: 600px;
    }
    /* BOOST YOUR BRAIN POWER STYLES */
    .brain-power{
      flex-direction: row-reverse;
      justify-content: space-between;
         max-width: 1100px;
         align-items: center;
   
    }
    .main-flip-card-container .deck-flip-card-container{
        width: 600px;
        min-height: 300px;
       
       }
       .main-flip-card-container .deck-flip-card-container .flip-card-back{
        font-size: 24px;
        padding: 10px;
    }
   
}