:root{
    --blueColor: #6BB6B6;
    --yellowColor: #FFE3A1;
    --orangeColor: #E8A66A;
    --beigeColor: #F1E0C5;
    --redColor: #FB4D3D;
    --brownColor: #210203;
    --inputColor: #98bd96;
    --boxShadow:  2px 2px 2px rgba(0, 0, 0, 0.5);
}
.body{
    background-color: var(--beigeColor);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}
button:hover, button:focus{
 box-shadow: var(--boxShadow);
}