.nav-freeze{
    position: sticky; 
    top: 0; 
    left: 0; 
    width: 100%; 
    z-index: 1;
}

.nav-container{
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    background-color: var(    --beigeColor);

}

.logo-container{
    display: flex;
    gap: 30%;
    padding: 20px 8px;
    align-items: center;
    background-color: var(--beigeColor);
    border: var(--brownColor) 2px solid;
    min-height: 125px;
}

.menu-btn{
    border: none;
    background: none;
}
.menu-btn{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    max-width: 100px;
    width: 100px;
    height: 80px;
    border: none;
    box-shadow: none !important;
}
.menu-btn span{
    background-color: var(--brownColor);
    height: 5px;
    width: 100px;
    border-radius: 10px;
    transition: rotate .5s ease, diplay .5s ease;
}
.menu-span2{
    display: none;

}
.menu-span1{
    height: 80px;
    margin-top: 50%;
    rotate: 45deg;
}
.menu-span3{
    height: 80px;
    margin-bottom: 30%;
    rotate: 135deg;
}
.nav-links-container{
    display: flex;
    flex-direction: column;
    padding: 30px;
    gap:20px;
    border: var(--brownColor) 2px solid;    
    max-width: 70%;
    background-color: var(--beigeColor);
    align-items: baseline;
}
.nav-links-container button{
    transition: box-shadow 0.3s ease;
    max-width: 70%;
    min-height: 40px;
    border-radius: 10px;
    padding: 5px;
    font-size: 24px;
}
.nav-links-container button:hover{
    box-shadow: 2px 2px 2px rgba(57, 86, 32, 0.7);
}
.nav-links-container > :nth-child(even) {
    background-color: var(--yellowColor);
  }
.nav-links-container > :nth-child(odd) {
    background-color: var(--blueColor);
  }
  .nav-links-container a{
    text-decoration: none;
    color: var(--brownColor);
    font-size: 24px;
  }


  @media screen and (min-width: 750px) {
    .nav-container{
        flex-direction: row;
        justify-content: space-between;
        max-width: 1140px;
        border: none;
        border-bottom: var(--brownColor) 3px solid;
    }
    .menu-btn{
        display: none;
    }
    .logo-container{
        border: none;
        min-height: 90px;
        padding: 20px 8px 0px 8px;
    }
    .logo-text{
        margin-left: 30px;
    }
    .nav-links-container{
        flex-direction: row;
        max-width: 700px;
        border: none;
        align-items: center;
        flex-wrap: wrap;


    }
    .nav-links-container button, .nav-container a{
        font-size: 16px;
    }
  }
  @media screen and (min-width: 1059px) {
    .nav-container{
        flex-direction: row;
        justify-content: space-between;
        max-width: 1140px;
        border: none;
        border-bottom: var(--brownColor) 3px solid;
    }
    .menu-btn{
        display: none;
    }
    .logo-container{
        border: none;
        min-height: 90px;
        padding: 20px 8px 0px 8px;
    }
    .nav-links-container{
        flex-direction: row;
        max-width: 700px;
        border: none;
        align-items: center;
        flex-direction: wrap;


    }
    .nav-links-container button, .nav-container a{
        font-size: 20px;
    }
  }