.play-flip-card-container{
    width: 400px;
    height: 300px;
    margin:  30px auto;
}

.flip-card-inner{
    position: relative;
    width: 100%;
    height: 100%;
    transition: transform 0.6s;
    transform-style: preserve-3d;
    border-radius: 50px;
}
.play-flip-card-container .flipped {
    transform: rotateY(180deg);
  }
.flip-card-front, .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    border-radius: 25px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.8);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
    padding: 10px;
    line-height: 1.3;
} 
  
  .flip-card-front {
    background-color: var(--orangeColor);
  }
  
  .flip-card-back {
    background-color: var(--yellowColor);
    transform: rotateY(180deg);
  }

  .play-buttons{
    display: flex;
    justify-content: space-around;
    margin-top: 50px ;
  }
  .play-buttons a{
    text-decoration: none;
    color: var(--brownColor)
  }
  .play-buttons button{
    border-radius: 10px;
    height: 35px;
    font-size: x-large;
  }
  .play-buttons button:nth-child(1){
    background-color: var(--orangeColor);
  }
  .wrong{
    background-color: var(--redColor) !important;
  }
  .right{
    background-color: var(--blueColor);
  }
  .flip-card-front h2, .flip-card-back h2 {
    font-weight: 800;
  }
  .flip-card-front h2{
    font-size: x-large;
  }